language: python
python:
  - "2.6"
  - "2.7"
# command to install dependencies
env:
  - BOTO_VERSION=2.9.2
  - BOTO_VERSION=2.9.9
before_install:
  - sudo apt-get install swig
install:
  - pip install -q boto==$BOTO_VERSION
  - python setup.py -q install
# command to run tests
script: nosetests -w tests
